body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #873fe6;
  font-family: "Acme", sans-serif;
  font-family: "Kanit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 100vh;
}

.main-body-section {
  background-color: #fcfbfc;
  border-radius: 30px 30px 0 0;
  padding: 0 10px 0 10px;
  flex: 1;
  box-shadow: 0 -12px 0 -5px rgba(252, 251, 252, 0.7),
    0 -25px 0 -10px rgba(252, 251, 252, 0.4);
  overflow-y: auto;
  margin-bottom: 50px;
}

.main-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-section h1 {
  color: #fff;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0;
  gap: 15px;
}

.main-nav ul li {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
  padding: 3px 15px 3px 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.main-nav ul li.active {
  background-color: #fff;
}

.main-nav ul li::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #fff;
  transition: transform 0.3s;
}

.main-nav ul li::before {
  transform-origin: right top;
  transform: scale(0, 1);
}
.main-nav ul li:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.main-task-pill {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.main-task-pill li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 2px #ccc;
  align-items: center;
  cursor: pointer;
}

.task-advance {
  padding: 15px;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.main-task-name {
  font-weight: bold;
  font-size: 19px;
}

.main-task-description {
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
}

.main-footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 50px;
  background-color: #fff;
}

.action-footer-btn {
  position: fixed;
  bottom: 0;
  display: block;
  width: 60px;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: #fff;
  border-radius: 100%;
  margin-bottom: 15px;
  align-items: center;
  font-size: 35px;
  border: none;
  color: #873fe6;
  cursor: pointer;
}

.footer-btn-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

/* TASK PROGRESS */
.quarter {
  border-top: 2px solid green;
}

.half {
  border-right: 2px solid green;
}

.third {
  border-bottom: 2px solid green;
}

.full {
  border-left: 2px solid green;
}

/* MODAL */
.modal-container {
  position: fixed;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.modal-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 70%;
  background-color: #fff;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.main-modal-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
  width: 50%;
}

.main-modal-form input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6px;
}

.main-modal-form input:focus-visible {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #873fe6;
  padding: 6px;
  outline: none;
}

.modal-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
}

.modal-btn-container .cancel-btn {
  background-color: #ad3232;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

.modal-btn-container .submit-btn {
  background-color: #873fe6;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 6px;
  cursor: pointer;
}

progress {
  background-color: #000;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #873fe6;
  border-radius: 5px;
}

/* ERROR MESSAGES */
.no-tasks-message {
  text-align: center;
  margin-top: 150px;
}

/* CONTROL DE MODAL */
#main-form-modal-section {
  display: flex;
}

#task-form-modal-section {
  display: none;
}

/* SUBTASKS */

.task-modal-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 80%;
  width: 50%;
}

.subtask-form-section-container {
  display: flex;
  flex-direction: row;
  height: 94%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.subtask-input,
.subtask-input:focus-visible {
  border: none;
  border-bottom: 1px solid purple;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  outline: none;
  width: 75%;
}

.subtask-checkbox {
  width: 15%;
}

.new-subtask-section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.delete-icon {
  color: #aaa;
  cursor: pointer;
}

.delete-icon:hover {
  color: rgb(194, 103, 103);
}
